@font-face {
  font-family: "Squirrel";
  src: url("fonts/PTN77F-webfont.eot") format("eot"),
       url("fonts/PTN77F-webfont.svg") format("svg"),
       url("fonts/PTN77F-webfont.ttf") format("ttf"),
       url("fonts/PTN77F-webfont.woff") format("woff");
}

body{
  font-family: 'Squirrel', sans-serif;
}
.navbar-default{
  background-image: url("/imdb-html/img/header-bg.png");
  border:none;
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-brand{
  padding: 0 15px;
}
.navbar-brand img{
  margin: 0 70px;
}
.navbar-nav {
    margin: 0 80px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.movie-of-the-day{
  background-image: url("/imdb-html/img/header-bg.png");
  margin-top: -50px;
}
.star-rating{
  background-image: url("/imdb-html/img/star-icon.png");
  background-repeat: repeat;
}
