@font-face {
  font-family: "Squirrel";
  src: url("fonts/PTN77F-webfont.eot") format("eot"),
       url("fonts/PTN77F-webfont.svg") format("svg"),
       url("fonts/PTN77F-webfont.ttf") format("ttf"),
       url("fonts/PTN77F-webfont.woff") format("woff");
}

body {
  font-family: 'Squirrel', sans-serif;
}
.navbar-default {
  background-image: url("/imdb-html/img/header-bg.png");
  border:none;
  border-radius: 0px;
  margin-bottom: 0px;
}
.navbar-brand {
  padding: 0 15px;
}
.navbar-brand img{
  margin: 0 70px;
}
.navbar-nav {
    margin: 0 80px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.movie-of-the-day {
  background-image: url("/imdb-html/img/header-bg.png");
  margin-top: -50px;
}
.star-rating {
  background-image: url("/imdb-html/img/star-icon.png");
  background-repeat: repeat;
}

.more-movies {
  background-color: #efefef;
  padding: 60px 0;
}
.movie-of-the-mouth {
  padding: 60px 0;
}
footer {
  background-color: #1b1b1b;
  color: #7c7c7c;
  padding: 50px 0;
}
.blue {
  color:#5293c2;
}
.blue h4 {
  font-weight: bolder;
}
.list p {
  border-bottom: 1px solid #343434;
  color: #868686;
  font-weight: bold;
}
.list p span {
  font-weight: lighter;
  float: right;
}
.logo {
  border-bottom: 1px solid #343434;
}
.text {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #343434;
}
.social {
  text-align: center;
}
.dreamworks, .jurors, .cards, .kay, .fantastic, .rome, .Loopers {
  margin: 30px 0;
}
.big-image img {
  width: 100%;
}
.like-view ul {
  padding: 0;
}
.like-view ul li {
  display: inline;
}
.card {
  background-color: #fff;
  width: 250px;
  border-radius: 4px;
}
.card-img-top, .movie-image {
  width: 100%;
}
.card-body {
  margin: 25px 15px;
}
.like-view {
  padding: 10px 0;
}

.card-title, .big-img-title, .decription h5{
  color: #5293c2;
}
.header h4{
  color: #9b9b9b;
  font-weight: 300;
}
.col-sm-3 .card {
  width: 200px;
}
.movie-image img {
  width: 100%;
}
blockquote {
    background: #000;
    border-radius: 5px;
    border-left: 0;
    color: #808080;
    font-size: 14px;
    width: 465px;
}
.movie-head {
  color: #fafafa;
  font-size: 12px;
  margin-bottom: 30px;
}
.head {
  color: #5293c2;
  font-weight: bold;
}
.movie-of-the-day {
  padding: 80px 0;
}
.star-rating {
  background-image: url('../img/star-icon.png');
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-position: bottom;
  margin: auto;
  background-size: 110%;
}

.star-rating:hover {
  animation-name: star;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function:steps(10);
  animation-fill-mode: forwards;
  animation-direction: normal;
}

@keyframes star {
  0%   { background-position: bottom;  }
  50%  { background-position: top; }
  100% { background-position: top; }
}
